.listado {
    margin: auto;
    padding: 30px;
    min-height: 100%;
    min-width: 100%;
}
.listado h1 {
    padding: 10px;
    text-align: center;
}
.listado h2 {
    padding: 10px;
    text-align: center;
}
.listado h3 {
    padding: 10px;
    text-align: center;
}
.listado input[type=text] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
.listado input[type=submit] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    padding: 5px;
}
.listado select {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 40%;
}

.btn-eliminar {
    color: #08233e !important;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif !important;
    font-size: 110% !important;
    border-radius: 5px !important;
    background-color: #F3734A !important;
    padding: 5px !important;
}
.btn-eliminar:hover {
    color: #08233e !important;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif !important;
    font-size: 110% !important;
    border-radius: 5px !important;
    background-color: #D60808 !important;
    padding: 5px !important;
}

.tabla {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 900;
    line-height: 2;
}
.tabla thead th:nth-child(1) {
    width: 30%;
}
.tabla thead th:nth-child(2) {
    width: 20%;
}
.tabla thead th:nth-child(3) {
    width: 15%;
}
.tabla thead th:nth-child(4) {
    width: 35%;
}
.tabla th, td {
    padding: 20px;
}
.tabla tbody tr:nth-child(odd) {
    background-color: #FAE887;
}
.tabla tbody tr:nth-child(even) {
    background-color: #F6FAC4;
}

/*
.inputTablas {
    border-radius: 5px;
    background-color: #EBEBEB;
}
input[type=text] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=password] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=number] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=month] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=date] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=date] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=tel] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=email] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 50%;
}
input[type=submit] {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    padding:5px;
}
select {
    color: #08233e;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 110%;
    border-radius: 5px;
    background-color: #EBEBEB;
    width: 40%;
}
.title{
    padding: 10px;
}
h1 {
    padding: 5px;
}
.contenedor-header {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 5px;
}
.contenedor-nav {
    width: 98%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 5px;
    text-align: center;
}
.columna-header{
    text-align:center;
    color:white;
}
.navbar-brand {
    font-size: xx-large;
}
.navbar-brand:hover {
    transform: scale(1.3);
}
.header-titulo {
    font-size: 50px;
}
.header-nav {
    font-size: 30px;
}
.centrado {
    justify-content:center; 
}
.logo-principal { 
    height: 76px;
    width: 76px;
    padding:6px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
*/
